.tweet {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #f8f8f8;
}

.avatar {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 12px;
}

.user {
    font-size: 14px;
    margin-bottom: 12px;

    & > h3,
    & > h4 {
        margin-right: 4px;
    }

    & > h3 {
        font-weight: bold;
        display: inline;
        font-size: inherit;
    }

    & > h4 {
        color: #737373;
        display: inline;
        font-size: inherit;
        font-weight: normal;
    }

    & > time {
        color: #737373;

        &::before {
            content: '\00B7';
            margin-right: 4px;
        }
    }
}

.link {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
