.nav {
    height: 80px;
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    margin-bottom: 12px;
}

.home,
.stats {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 40px;

    &::before {
        margin-right: 12px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }

    &:hover {
        color: #3c73ff;
    }
}

.home::before {
    content: url(./icons/home.svg);
}

.stats::before {
    content: url(./icons/stats.svg);
}
