.nav {
    height: 80px;
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;

    @media (width > 768px) {
        justify-content: start;
        padding-left: 48px;
    }
}

.home,
.stats {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 40px;

    &::before {
        margin-right: 12px;
        display: inline-block;
        width: 18px;
        height: 18px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #306aff;
}

/* When using svgs in the before pseudoelement I can't change the fill
color, so I've swapped the svg here. I'd potentially rethink this approach
doing the task again */
.home::before {
    content: url(./icons/home.svg);
}

.home.active::before {
    content: url(./icons/home-active.svg);
}

.stats::before {
    content: url(./icons/stats.svg);
}

.stats.active::before {
    content: url(./icons/stats-active.svg);
}
